
.bg-montink {
    background-color: #00b7b1 !important;
}

.text-montink {
    color: #00b7b1;
}

.btn-montink {
    background-color: #00b7b1;
    color: #292929;
}

.btn-montink:hover {
    border-style: solid;
    border-color: #00b7b1;
    color:rgba(255, 255, 255, 0.7);
}

/* REMOVENDO BOTÕES DE INCREMENTO DOS INPUTS TYPE='number'*/
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}

/* SETANDO CORES PARA FORMULÁRIO */
form {
    background-color: #212529;
    color: #f8f9fa;
    border-radius: 0.5rem;
}
form .form-control {
    background-color: #343a40;
    color: #f8f9fa;
    border: 1px solid #6c757d;
}
form .form-control::placeholder {
    color: #ced4da;
}
form .form-control:focus {
  background-color: #343a40;
  color: #f8f9fa;           
  border-color: #adb5bd;    
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.25);
}
form label {
    color: #f8f9fa;
}
